<!-- Login page -->

<center>Welcome to Students Like Food Too! </center><br>
<center>Please Login!</center>
<center>
  <button><a href="<%= @login_url %>">Login</a></button><br>
  <button><a href='/logout'>Logout</a></button>
</center>
