<form method="POST" action="/reviews">
  <fieldset class="restaurant-info">
    <label>
      Restaurant Name
      <input type="text" name="res_name" size="30"/><br>
    </label>

    <label>
      Restaurant/Food Image (optional)
      <input type="url" name="res_image" size="30"/><br>
    </label>


    <label>Neighborhood
      <select id="neighborhood" name="neighborhood">
        <optgroup label="Manhattan">
      <!-- TODO: Move Nabes to populate programatically -->
      <!-- @nabes.each do |nabe| %> etc.. -->

          <option value="Chelsea" name="neighborhood">Chelsea</option>
          <option value="Chinatown" name="neighborhood">Chinatown</option>
          <option value="Civic Center" name="neighborhood">Civic Center</option>
          <option value="East Harlem" name="neighborhood">East Harlem</option>
          <option value="East Villiage" name="neighborhood">East Villiage</option>
          <option value="Financial District" name="neighborhood">Financial District</option>
          <option value="Flatiron" name="neighborhood">Flatiron</option>
          <option value="Garment District" name="neighborhood">Garment District</option>
          <option value="Inwood" name="neighborhood">Inwood</option>
          <option value="Harlem" name="neighborhood">Harlem</option>
          <option value="Little Italy" name="neighborhood">Little Italy</option>
          <option value="Lower East Side" name="neighborhood">Lower East Side</option>
          <option value="Morningside Heights" name="neighborhood">Morningside Heights</option>
          <option value="Murray Hill" name="neighborhood">Murray Hill</option>
          <option value="Soho" name="neighborhood">Soho</option>
          <option value="Stuyvesant Town" name="neighborhood">Stuyvesant Town</option>
          <option value="Theater District" name="neighborhood">Theater District</option>
          <option value="Tribeca" name="neighborhood">Tribeca</option>
          <option value="Union Square" name="neighborhood">Union Square</option>
          <option value="Upper East Side" name="neighborhood">Upper East Side</option>
          <option value="Upper West Side" name="neighborhood">Upper West Side</option>
          <option value="Washington Heights" name="neighborhood">Washington Heights</option>
          <option value="West Villiage" name="neighborhood">West Villiage</option>
          <option value="Yorkville" name="neighborhood">Yorkville</option>
        </optgroup>

        <optgroup label="Brooklyn">
          <option value="Williamsburg" name = "neighborhood">Williamsburg</option>
          <option value="Park Slope" name ="neighborhood">Park Slope</option>
          <option value="Greenpoint" name = "neighborhood">Greenpoint</option>
          <option value="Red Hook" name = "neighborhood">Red Hook</option>
          <option value="Bedford Stuyvesant" name = "neighborhood">Bedford Stuyvesant</option>
          <option value="Prospect Heights" name = "neighborhood">Prospect Heights</option>
          <option value="Flatbush" name = "neighborhood">Flatbush</option>
          <option value="Bushwick" name = "neighborhood">Bushwick</option>

        </optgroup>
      </select>
    </label>


  </fieldset>

<!-- Review -->
  <fieldset class="review">
    <label>
      User Name
      <input type="text" name="user_name" size="30"/><br>
    </label>
    <label>
      Review
      <textarea name="review" cols="30" rows="5"></textarea><br>
    </label>
    <label>
      Tags (optional)
      <input type="text" name="tags" size="30"/><br>
    </label>

    <label>
      Date Visited (optional)
      <input type="date" name="res_date" value="<%= Date.today %>" style="text-align:center;"/><br>
    </label>
  </fieldset>

<!-- Ratings -->
  <fieldset class="ratings">
    <label> Food Quality:
      <ul>
        <li><input type="radio" name="quality" value="*"/>1</li>
        <li><input type="radio" name="quality" value="**"/>2</li>
        <li><input type="radio" name="quality" value="***"/>3</li>
        <li><input type="radio" name="quality" value="****"/>4</li>
        <li><input type="radio" name="quality" value="*****"/>5</li>
      </ul>
    </label>

    <label> Price:
    <ul>
      <li><input type="radio" name="price" value="$"/>$</li>
      <li><input type="radio" name="price" value="$$"/>$$</li>
      <li><input type="radio" name="price" value="$$$"/>$$$</li>
      <li><input type="radio" name="price" value="$$$$"/>$$$$</li>
    </ul>
    </label>



    <label> Atmosphere:
      <ul>
        <li><input type="radio" name="atmosphere" value="*"/>1</li>
        <li><input type="radio" name="atmosphere" value="**"/>2</li>
        <li><input type="radio" name="atmosphere" value="***"/>3</li>
        <li><input type="radio" name="atmosphere" value="****"/>4</li>
        <li><input type="radio" name="atmosphere" value="*****"/>5</li>
      </ul>
    </label>

    <label> Service:
      <ul>
        <li><input type="radio" name="service" value="*"/>1</li>
        <li><input type="radio" name="service" value="**"/>2</li>
        <li><input type="radio" name="service" value="***"/>3</li>
        <li><input type="radio" name="service" value="****"/>4</li>
        <li><input type="radio" name="service" value="*****"/>5</li>
      </ul>
    </label>
  </fieldset>

</fieldset>

<!-- Deals -->
<fieldset class="deals">
  <label>
    Deals:
    <input type="text" name="deals" size="30"/>
  </label>
</fieldset>


  <button>Add Review!</button>
</form>
