<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Reviews</title>

  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">


   <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light|Gloria+Hallelujah|Playball|Dancing+Script:400,700|Shadows+Into+Light+Two|Chewy|Playfair+Display+SC:700,900,400|Covered+By+Your+Grace' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700|Cabin:400,600|Ubuntu|Kreon|Gloria+Hallelujah|Slabo+27px|Indie+Flower|Inconsolata:400,700' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">
  <link href="/stylesheets/normalize.css" rel="stylesheet" type="text/css" media="all">
  <link href="/stylesheets/style_new.css" rel="stylesheet" type="text/css" media="all">
</head>

<body>

  <nav>

    <div class = "logo">
      <h1 class = "logo2">Students Like Food Too!</h1>
    </div>

    <div class="logo">
      <ul class = "menu">
        <li><a href="/">Home</a></li>
        <li><a href="/reviews">Reviews</a></li>
        <li><a href="/reviews/new">Add New Review</a></li>
      </ul>
    </div>

  </nav>



<div class = "form">
<form method="POST" action="/reviews">
  <h2>New Review</h2>
  <fieldset class="restaurant-info">
    <label>
      Restaurant Name
      <input type="text" name="restaurant" size="30"/><br>
    </label>

    <label>
      Restaurant/Food Image (optional)
      <input type="url" name="res_image" size="30"/><br>
    </label>


    <label>Neighborhood
      <select id="neighborhood" name="neighborhood">
        <optgroup label="Manhattan">
      <!-- TODO: Move Nabes to populate programatically -->
      <!-- @nabes.each do |nabe| %> etc.. -->

          <option value="Chelsea" name="neighborhood">Chelsea</option>
          <option value="Chinatown" name="neighborhood">Chinatown</option>
          <option value="Civic Center" name="neighborhood">Civic Center</option>
          <option value="East Harlem" name="neighborhood">East Harlem</option>
          <option value="East Villiage" name="neighborhood">East Villiage</option>
          <option value="Financial District" name="neighborhood">Financial District</option>
          <option value="Flatiron" name="neighborhood">Gramercy/Flatiron</option>
          <option value="Garment District" name="neighborhood">Garment District</option>
          <option value="Inwood" name="neighborhood">Inwood</option>
          <option value="Harlem" name="neighborhood">Harlem</option>
          <option value="Little Italy" name="neighborhood">Little Italy</option>
          <option value="Lower East Side" name="neighborhood">Lower East Side</option>
          <option value="Morningside Heights" name="neighborhood">Morningside Heights</option>
          <option value="Murray Hill" name="neighborhood">Murray Hill</option>
          <option value="Soho" name="neighborhood">Soho</option>
          <option value="Stuyvesant Town" name="neighborhood">Stuyvesant Town</option>
          <option value="Theater District" name="neighborhood">Theater District</option>
          <option value="Tribeca" name="neighborhood">Tribeca</option>
          <option value="Union Square" name="neighborhood">Union Square</option>
          <option value="Upper East Side" name="neighborhood">Upper East Side</option>
          <option value="Upper West Side" name="neighborhood">Upper West Side</option>
          <option value="Washington Heights" name="neighborhood">Washington Heights</option>
          <option value="West Villiage" name="neighborhood">West Villiage</option>
          <option value="Yorkville" name="neighborhood">Yorkville</option>
        </optgroup>

        <optgroup label="Brooklyn">
          <option value="Williamsburg" name = "neighborhood">Williamsburg</option>
          <option value="Park Slope" name ="neighborhood">Park Slope</option>
          <option value="Greenpoint" name = "neighborhood">Greenpoint</option>
          <option value="Red Hook" name = "neighborhood">Red Hook</option>
          <option value="Bedford Stuyvesant" name = "neighborhood">Bedford Stuyvesant</option>
          <option value="Prospect Heights" name = "neighborhood">Prospect Heights</option>
          <option value="Flatbush" name = "neighborhood">Flatbush</option>
          <option value="Bushwick" name = "neighborhood">Bushwick</option>
        </optgroup>
      </select>
    </label>


  </fieldset>

<!-- Review -->
  <fieldset class="review">
    <label>
      Name
      <input type="text" name="user_name" size="30"/><br>
    </label>
    <label>
      Review
      <textarea name="review" cols="30" rows="5"></textarea><br>
    </label>
    <label>
      Tags (optional)
      <input type="text" name="tags" size="30"/><br>
    </label>

    <label>
      Date Visited (optional)
      <input type="date" name="res_date" value="<%= Date.today %>" style="text-align:center;"/><br>
    </label>
  </fieldset>

<!-- Ratings -->
 <p>Ratings:</p>
  <fieldset class="ratings">
     <!-- <div class = "rating_div"> -->
    <div class = "prices">
    <label> Price:
    <ul>
      <li><input type="radio" name="price" value="$"/>$</li>
      <li><input type="radio" name="price" value="$$"/>$$</li>
      <li><input type="radio" name="price" value="$$$"/>$$$</li>
      <li><input type="radio" name="price" value="$$$$"/>$$$$</li>
    </ul>
    </label>
  </div>

    <div class = "qualities">
    <label> Food Quality:
      <ul>
        <li><input type="radio" name="quality" value="1"/>1</li>
        <li><input type="radio" name="quality" value="2"/>2</li>
        <li><input type="radio" name="quality" value="3"/>3</li>
        <li><input type="radio" name="quality" value="4"/>4</li>
        <li><input type="radio" name="quality" value="5"/>5</li>
      </ul>
    </label>
    </div>

<div class = "atmospheres">
  <!-- <div class = "rating_div2"> -->
    <label> Atmosphere:
      <ul>
        <li><input type="radio" name="atmosphere" value="1"/>1</li>
        <li><input type="radio" name="atmosphere" value="2"/>2</li>
        <li><input type="radio" name="atmosphere" value="3"/>3</li>
        <li><input type="radio" name="atmosphere" value="4"/>4</li>
        <li><input type="radio" name="atmosphere" value="5"/>5</li>
      </ul>
    </label>
  </div>

  <div class = "services">
    <label> Service:
      <ul>
        <li><input type="radio" name="service" value="1"/>1</li>
        <li><input type="radio" name="service" value="2"/>2</li>
        <li><input type="radio" name="service" value="3"/>3</li>
        <li><input type="radio" name="service" value="4"/>4</li>
        <li><input type="radio" name="service" value="5"/>5</li>
      </ul>
    </label>

  </div>
</fieldset>


<!-- Deals -->
<fieldset class="deals">
  <label>
    Deals:
    <input type="text" name="deals" size="30"/>
  </label>
</fieldset>


  <button>Add Review!</button>
</form>
</div>



  <footer>
    <ul class="footer">
    <li><a href="/">Home</a></li>
    <li><a href="/">Reviews</a></li>
    <li><a href="/reviews/new">Add New Review!</a></li>
  </footer>

</body>
</html>
