html{
  background-color: rgba(0,0,0,0.5);
}

/*header{
  background-color: #696969;
  height:10%;
  width:100%;
}*/

.review{
  display: block;

  width: 650px;

  /*-webkit-box-shadow: 0px 0px 0px 12px rgba(204,204,204,0.6);
  -moz-box-shadow:    0px 0px 0px 12px rgba(204,204,204,0.6);*/
  box-shadow:         0px 0px 0px 12px white;
  /*border: 1px solid #999;*/
  border: 1px solid #999;

  margin: 80px auto 60px;
  padding: 18px 10px;

  color: black;
  font-weight: 800;

  position: relative;

  text-align: left;
}

img{
    /*margin: 40px 0px 0px 0px;*/
    max-height: 400px;
    border: 7px solid white;
    border-radius: 20px;
    position: relative;
    margin: 10px;
}

a {
  color: white;
  text-decoration: none;
  padding: 10px;
}
a:hover{
  color: red;
  text-decoration: none;
}
