html{
  background-color: rgba(0,0,0,0.5);
}
  /* ========================= */
  /* Navagation Bar */
  /* ========================= */

nav{
  position: relative;
  background-color: #A9262A;
  /*background-color: #B22222;*/
  height:10%;
  width:100%;
  margin: 0 auto;
  top: 0;
}


.logo{
  display: inline-block;
  width: 49%;

}

.logo2{
  margin-left: 1.5em;
}
.menu{
 /* position: relative;
  right: 10px;*/
   margin-left: 7em;
  margin-top: 1em;
  color:white;
}

.menu li{
  display: inline-block;
  padding:1em;
  text-decoration: none;
  font-size: 19px;
}

.menu a{
  color: white
}

.menu a:hover{
  color: black;
  font-weight: bolder;
}

h1{
  font-family: 'Shadows Into Light Two', cursive;
  /*font-family: 'Covered By Your Grace', cursive;*/
  color:white;
}

  /* ========================= */
  /*  Footer */
  /* ========================= */

footer{
  background-color: #B22222;
  height:10%;

}

.footer li{
  display: inline-block;
  padding:.5em;
  text-decoration: none;
  font-size: 19px;
}
.footer a{
  color:white;
}



.form{

width: 650px;

  /*-webkit-box-shadow: 0px 0px 0px 12px rgba(204,204,204,0.6);
  -moz-box-shadow:    0px 0px 0px 12px rgba(204,204,204,0.6);*/
  box-shadow:         0px 0px 0px 12px white;
  /*border: 1px solid #999;*/
  border: 1px solid #999;

  margin: 80px auto 60px;
  padding: 18px 10px;

  color: black;
  font-weight: 800;

  position: relative;

  text-align: left;
  font-family: 'Kreon', serif;
}

button{
  position: relative;
  left: 40%
}

.logo div{
  position: relative;
  left: 2em;
}

.links div{
  position: relative;
  right: 10px;
  display: block;
}

a {
  color: black;
  text-decoration: none;
  padding: 10px;
}
a:hover{
  color: rgba(0,0,0,0.5);
  text-decoration: none;
}

.form div{
    background: rgba(204,204,204,0.6);
    text-decoration: none;
}

.ratings div{
  display: inline-block;
  padding: 2%;
  margin: 2%;
  background: white ;
  border: 7px solid white;
  border-radius: 20px;
  font-family: 'Kreon', serif;
}

.services{
  position: relative;
  left: 15px;
}

ul{
  list-style-type: none;

}

li{
  padding: 5px;
  display: inline-block;
}


h2{
  text-align: center;
  font-family: 'Kreon', serif;
}

p{
  text-align: center;
  font-family: 'Kreon', serif;
}



.rating{
    /*font-family: 'Raleway', sans-serif;*/
  /*font-family: 'Droid Serif', serif;*/

/*font-family: 'Lato', sans-serif;*/
/*font-family: 'Cabin', sans-serif;*/
/*font-family: 'Ubuntu', sans-serif;*/
/*font-family: 'Kreon', serif;*/

/*font-family: 'Slabo 27px', serif;*/
/*font-family: 'Indie Flower', cursive;*/
/*font-family: 'Inconsolata';*/
}


