html{
  background-color: rgba(0,0,0,0.5);
}

header{
  background-color: white;
  height:10%;
  width:100%;
}

footer{
  background-color: white;
  height:40px;
  width:100%;
}



.form{

width: 650px;

  /*-webkit-box-shadow: 0px 0px 0px 12px rgba(204,204,204,0.6);
  -moz-box-shadow:    0px 0px 0px 12px rgba(204,204,204,0.6);*/
  box-shadow:         0px 0px 0px 12px white;
  /*border: 1px solid #999;*/
  border: 1px solid #999;

  margin: 80px auto 60px;
  padding: 18px 10px;

  color: black;
  font-weight: 800;

  position: relative;

  text-align: left;
}

button{
  position: relative;
  left: 40%
}

.logo div{
  position: relative;
  left: 2em;
}

.links div{
  position: relative;
  right: 10px;
  display: block;
}

a {
  color: black;
  text-decoration: none;
  padding: 10px;
}
a:hover{
  color: rgba(0,0,0,0.5);
  text-decoration: none;
}

div{
    background: rgba(204,204,204,0.6);
    text-decoration: none;
}

.ratings div{
  display: inline-block;
  padding: 2%;
  margin: 2%;
  background: white ;
  border: 7px solid white;
  border-radius: 20px;
}

.services{
  position: relative;
  left: 15px;
}

ul{
  list-style-type: none;

}

li{
  padding: 5px;
  display: inline-block;
}


h2{
  text-align: center
}

p{
  text-align: center
}


